## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
packages/
*.nupkg

## Visual Studio
.vs/
*.sln.ide/
*~

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## publish
publish/
*.exe
*.dll
*.pdb
*.dll.config
*.runtimeconfig.json
*.deps.json

## Rider
.idea/
*.sln.iml
